%section.content
  #vue-messages.col-sm-12.message-board{data: {session_id: request.session_options[:id]}}
    /- if @conversations.any?
    .col-xs-6
      / required for floating
      / Nav tabs
      %ul.nav.nav-tabs.tabs-left.conversations_list{data: {conversation_id: @conversations.first.id, user_id: current_user.id}}
        /- @conversations.each_with_index do |c, index|    {class: ('active' if index ==0), data: {conversation_id: c.id, user_id: current_user.id}}
        %li{"v-repeat" => "conversations", "v-class" => "active: id === current.id"}
          %a{:href => "#home", "v-on" => "click: switchConversation($index)", data: {index: "{{$index}}"}}
            .user-stars.col-xs-6.col-sm-6.col-md-6.col-lg-6
              .img-content
                %span.redc
                /= user_avatar(c.originator)
                %img.img-circle.avatar{"v-attr" => "src: participant.avatar", height: '50px', width: '50px', }
              %span.user-name {{participant.username}}
              .stars
            .request-info.col-xs-6.col-sm-6.col-md-6.col-lg-6
              Request sent on {{created_at | dateTime 'DD/MM/YYYY'}}
            .clear
    .col-xs-6
      / Tab panes
      .tab-content
        #home.tab-pane.active
          .chat-line-product.col-sm-12{"v-class" => "hide: !current.options.request_buttons"}
            .inb.col-xs-12.col-sm-8.col-md-6.col-lg-6.chat-product
              .img-content
                -# = image_tag('small-img.jpg')
                %img{:alt => "Small img", :src => "{{current.participant.avatar}}"}/
              .request-info
                Request for: {{current.request.product.title}}
              .request-info
                Request sent on {{current.created_at | dateTime 'DD/MM/YYYY'}}
            .pr-details.col-xs-12.col-sm-4.col-md-2.col-lg-2.inb
              {{current.days}} days
              %span {{current.total | currency}}
            %a.chat-delete.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
            %a.chat-check.col-xs-6.col-sm-6.col-md-2.col-lg-2.inb{:href => ""}
          .clear
          .chat-messages.col-sm-12
            #tchat.chat-height.mCustomScrollbar
              .chat-message-content{'v-repeat' => 'current.messages'}
                .message-details.col-sm-6{'v-class' => 'left: sender_name === current.participant.username, right: !(sender_name === current.participant.username)'}
                  .chat-name.left {{sender_name}}
                  .chat-date.right {{created_at | dateTime 'MMMM DD - h:mm a'}}
                  .clear
                .clear
                .col-sm-6{'v-class' => '"from-me": !(sender_name === current.participant.username), "from-them": sender_name === current.participant.username'}
                  %p {{body}}
                .clear

          .type-side
            %textarea.col-sm-10#new_message{:placeholder => "type...", 'v-model' => 'message', 'v-on' => 'keydown: sendMessage'}
            %button.col-sm-2.send{data: {conversation_id: "{{conversationId}}"}} send
            .clear
          .clear
    /- else
    %center
      %h2 Nothing to view here
      %p You'll see your requests here when you have any.
    .clear
