.product-list
  .product-description.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .img-content
      = image_tag('small-img.jpg')
    .product-title Leica M9 with 50mm f2.0
    .user-line
      .img-content
        = image_tag('emma.png')
      .stars
        %span.star-active.star
        %span.star-active.star
        %span.star-active.star
        %span.star-inactive.star
        %span (17)
      .distance 15km
  .product-price.col-xs-1.col-sm-1.col-md-1.col-lg-1 $50
