#lenyt-search
  %section.search-bar
    .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-2
      %input.drop{"data-toggle" => "dropdown", :placeholder => "category", :type => "text"}/
      %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
        %li
          %a{:href => "#"} All
        %li
          %a{:href => "#"} Camera
        %li
          %a{:href => "#"} Lenses
        %li
          %a{:href => "#"} Audio
        %li
          %a{:href => "#"} External Recorders
        %li
          %a{:href => "#"} Tripods
        %li
          %a{:href => "#"} Rigs & Stabilizers
        %li
          %a{:href => "#"} Accessories
    .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-4
      %input{"data-toggle" => "dropdown", :placeholder => "what", :type => "text"}/
      %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
        %li
          %a{:href => "#"} leica... (4 listings)
        %li
          %a{:href => "#"} lens... (35 listings)
    .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-3
      %input{"data-toggle" => "dropdown", :placeholder => "where", :type => "text"}/
      %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
        %li
          %a{:href => "#"} Toronto, ON
        %li
          %a{:href => "#"} Tokyo, Japan
    .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-3.no-padding
      %input#dpd1.drop{:placeholder => "when", :type => "text"}/
    .clear
  %section.content
    %aside.map-points.slide.left.col-xs-12.col-sm-6.col-md-6.col-lg-6
      #search_map
      //= image_tag('map-big.jpg')

      .map-pointi
        .map-point
          %img{alt:"", src: "IMAGE_URL"}
          .title-popover TITLE
          %span.price-popover PRICE
          .clear
    %aside.user-request.right.col-xs-12.col-sm-6.col-md-6.col-lg-6
      .rit
        .range-sort
          %span $ 10
          %input#range.span2{"data-slider-max" => "500", "data-slider-min" => "10", "data-slider-step" => "1", "data-slider-value" => "[30,450]", :type => "text", :value => ""}/
          %span $ 500
          .search-input
            %input.sort{"data-toggle" => "dropdown", :placeholder => "sort by", :type => "text"}/
            %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
              %li
                %a{:href => "#"} price (low to high)
              %li
                %a{:href => "#"} price (high to low)
              %li
                %a{:href => "#"} proximity
        .product-list{"v-repeat" => "products", "v-on" => "click: toggleActive", "v-class" => "transparent: !active", data: {index: "{{$index}}"}}
          .product-description.col-xs-12.col-sm-12.col-md-12.col-lg-12
            .img-content
              = image_tag('small-img.jpg', "v-attr" => "src:image")
            .product-title {{title}}
            .user-line
              .img-content
                = image_tag('#', class: 'img-circle', "v-attr" => "src:user")
              .stars
                %span.star-active.star
                %span.star-active.star
                %span.star-active.star
                %span.star-inactive.star
                %span (17)
              .distance 15km
          .product-price.col-xs-1.col-sm-1.col-md-1.col-lg-1 ${{price_per_day}}
