#lenyt-search
  %section.search-bar
    .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-2
      %input.drop{"data-toggle" => "dropdown", :placeholder => "category", :type => "text", "v-model" => "category.name"}/
      %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
        %li
          %a{href: "#", "v-on" => "click: selectCategory(0, '')"} All
        - Category.order(name: :asc).each do |cat|
          %li
            %a{href: "#", data: {id: cat.id}, "v-on" => "click: selectCategory(#{cat.id}, '#{cat.name}')"}
              =cat.name
    .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-4
      %input#tag-input{:type => "text", "v-model" => "tags.searchTerm", "v-on" => "focus:tags.visible = true, blur: hideTags, keyup: findTags", "v-attr" => "placeholder: tags.placeholder"}
      %ul.dropdown-menu.dropdown-menu-cat{"v-class" => "display-block: tags.visible === true"}
        %li{"v-on" => "click: deSelectTag"}
          %a{:href => "#"}
            All
        %li{"v-repeat" => "tags.list", "v-class" => "current-tag: $index === tags.current", "v-on" => "click: selectTag($index)", "v-class" => "hide: $index > 3"}
          %a{:href => "#"}
            {{name}}
            %span{"v-class" => "hide: !taggings_count"} ({{taggings_count}} listings)
    .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-3
      %input{:placeholder => "where", :type => "text", "v-model" => "city.search", "v-on" => "focus: city.visible = true, blur: hideCity, keyup: findCity"}
      %ul.dropdown-menu.dropdown-menu-cat{"v-class" => "display-block: city.visible === true"}
        %li{"v-repeat" => "city.list", "v-on" => "click: setCity(name)"}
          %a{:href => "#"}
            {{name}}
            %span{"v-class" => "hide: !state"}, {{state}}
    .search-input.col-xs-12.col-sm-6.col-md-6.col-lg-3.no-padding
      %input{:placeholder => "when", :type => "text", "v-on" => "click: datePicker.visible = true"}/
      %div.range-date-picker-dd{"v-class": "hide: !datePicker.visible"}
        %a{href: "#", "v-on" => "click: disableDates"} Any
        #range-pick
    .clear
  %section.content
    %aside.map-points.slide.left.col-xs-12.col-sm-6.col-md-6.col-lg-6
      #search_map
      //= image_tag('map-big.jpg')

      .map-pointi
        %a.map-point{href:"http://lenyt-dev.herokuapp.com/listings/ID"}
          %img{alt:"", src: "IMAGE_URL"}
          .title-popover TITLE
          %span.price-popover PRICE
          .clear
    %aside.user-request.right.col-xs-12.col-sm-6.col-md-6.col-lg-6
      .rit
        .range-sort
          %span $ 10
          %input#range.span2{"data-slider-max" => "500", "data-slider-min" => "10", "data-slider-step" => "1", "data-slider-value" => "[10,500]", :type => "text", :value => "10,500"}/
          %span $ 500
          .search-input
            %input.sort{"data-toggle" => "dropdown", :placeholder => "sort by", :type => "text"}/
            %ul.dropdown-menu.dropdown-menu-cat{"aria-labelledby" => "dLabel", :role => "menu"}
              %li
                %a{:href => "#"} price (low to high)
              %li
                %a{:href => "#"} price (high to low)
              %li
                %a{:href => "#"} proximity
        #product-listing{"v-on" => "scroll:scroll"}
          .product-list{"v-repeat" => "products", "v-on" => "click: toggleActive", "v-class" => "transparent: !active", data: {index: "{{$index}}"}}
            .product-description.col-xs-12.col-sm-12.col-md-12.col-lg-12
              .img-content.product-avatar{"v-style" => "background-image: 'url(' + image + ')'"}
              .product-title {{title}}
              .user-line
                .img-content
                  = image_tag('#', class: 'img-circle search-user-avatar', "v-attr" => "src:user.avatar")
                .stars
                  %span.stars-active{"v-style" => "width:(user.rating.avg*20)+'px'"}
                %span.rating_count ({{user.rating.count}})
                .distance {{distance}}km
            .product-price.col-xs-1.col-sm-1.col-md-1.col-lg-1 ${{price_per_day}}
