/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter-bootstrap-static/bootstrap
 *= require twitter-bootstrap-static/fontawesome
 *= require reset
 *= require style-backend
 *= require datepicker
 *= require slider
 *= require daterangepicker
 *= require bootstrap.vertical-tabs
 *= require jquery.mCustomScrollbar
 *= require common
 *= require font-awesome
 *= require dropzone/dropzone
 *= require_self
 */

::-webkit-input-placeholder {
   color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;
}

:-ms-input-placeholder {
   color: #000000;
}
#media-contents{height: 299px;}
span.twitter-typeahead {
  width: 100%;
}
.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}
.typeahead.empty {
  border: 2px solid red;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width: 430px;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.secure_payments {
  color: #000101;
  font-size: 17px;
}
img.img-circle.img-url.user-avatar {
  height: 50px;
}
#invitations{
  form#vue-email{
    ul{
      li.email_entry{
        margin: 5px 0;
        span.email_value{
          border: 1px solid #2C5EAD;
          padding: 4px 5px;
          background-color: #D3E1F9;
          border-radius: 3px;
        }
      }
    }
  }
  #new-listing {
    height: 30px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 0px;
  }
  #user_email{
    border: 1px solid #999999;
    border-radius: 0px;
  }
  textarea:focus{
    outline: 0;
  }
  ul.facebook{
    display: inline-flex;
    li{
      background-color: #4B66A1;
      color: #fff;
    }
    li.fb_share:hover, li.fb_like:hover{background-color: #6A82B5;}
    li.fb_logo{
      height: 40px;
      width: 30px;
      font-size: 20px;
      padding: 6px;
    }
    li.fb_share, li.fb_like {
      margin-left: 2px;
      text-align: center;
      width: 70px;
      font-weight: 600;
      font-size: 16px;
      line-height: 40px;
      cursor: pointer;
    }
  }
}
.noresize {
  resize: none;
}
hr.black {
  border-top: 1px solid #242424;
}
