.noticesWrapper{
  .alert{
    border-radius: 0px;
    opacity: 0.9;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}
.close_alert{cursor: pointer;}
p{word-break: break-all;}
